*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}
fieldset {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
    background: #fdfdfd;
    border-radius: 8px;
    border: none;
}
.main-header {
    background: rgb(34, 34, 44);
    color: white;
}
 .name {
     margin-top: 0;
     padding: 20px 12px 20px;
     text-transform: uppercase;
     text-align: center;
     font-size: 1.2em;
}
.headline {
    text-align: center;
    margin-bottom: 10px;
    
 }
.tagline {
    text-align: center;
    border-bottom: 4px solid;
    padding-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}
.line {
    border-top: 2px solid;
    margin-left: 5px;
    margin-right: 5px;
}
legend {
    font-size: 1.4em;
    font-weight: bolder;
    margin-bottom: 8px;
    padding-top: 30px;
    padding-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="state"],
textarea[id="topics"],
select {
    background: rgb(223, 230, 233);
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
input[name="user_zip"]{ 
    display: block;
    background: rgb(223, 230, 233);
    padding: 15px;
    width: 40%;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
input:focus,
textarea:focus  {
    background-color: rgb(184, 184, 93);
}
input[type="checkbox"]:checked + label {
    font-weight: bold;
}
::placeholder {
    text-align: right;
    font-style: italic;
    padding-right: 3px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-bottom: 8px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.guide {
    padding-top: 15px;
    padding-bottom: 15px;
    
}
button {
    padding: 20px 10px 30px;
    text-align: center;
    width: 100%;
    background: rgb(66, 168, 168);
    border: 1px solid ;
    color: white;
    border: 1px 1px rgb(30, 95, 95);
    border-width: 1px 1px 3px;
    border-radius: 5px;
    font-size: 17px;
    font-style: normal;
}
footer {
    text-align: center;
    font-weight: 100;
    font-style: italic;
    margin-top: 0;
}


/* --- Media Query -- */

@media (min-width: 768px) {

    form {
        width: 85%;
        margin: auto;
    }

    fieldset {
        display: flex;
        flex-direction: row;
        max-width: 700px;
        }
        
       .flex-items {
           display: flex;
           flex-direction: row;
           justify-content: flex-start;
           align-items: center;
       }
       
        .flex-items label {
            min-width: 100px;
            font-size: 13px;
            
        }
        
        input[name="user_zip"]{
            width: 30%;
        }
        
        input[type="checkbox"],
        input[type="radio"] {
            margin-bottom: 8px;
            padding-bottom: 10px;
            margin-top: 10px;
        }

        
}
    
    

  
  